body{
    background: url(./images/BackG.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    
}
.info{
   margin: 15%;
   text-align: center;
   font-family: poppins;
   padding: 30px;
   background-color: rgb(81, 224, 124);
   color: black;
   border-radius: 100px;
}